/*****************************
        COLOR PALETTE 
******************************/
:root{
    --blue: #3535ec;
    --dark-blue: #120945;
    --gray: #d4d7f5;
    --green: #306753;
    --pink: #de7eb6;
    --yellow: #f2ad41;
    --white: #ffffff;
}
/*****************************
        CSS RESET
******************************/  
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* img{
    max-width: 100%;
} */
/*****************************
        UTILITIES
******************************/
body{
    font-family: 'Livvic', Arial, Helvetica, sans-serif;
    background-color: var(--dark-blue);
    color: var(--white);
}
/*****************************
        HEADER
******************************/
header{
    background-color: var(--blue);
    height: 220px;
    border-radius: 0 0 20px 20px;

    position: sticky;
    top: 0;
    left: 0;

    background-image: url('../images/header-bg.png');
    background-size: cover;
    background-position: center 70px;
    background-repeat: no-repeat;
    z-index: 1;
}
h1{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 32px 16px;
}
/*****************************
        CALENDAR
******************************/
.calendar{
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.box{
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 12px;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box:last-child{
    background-color: var(--gray);
    color: var(--green);
    width: 100%;
}
.box-icon{
    width: 20px;
    height: 30px;
}
.box-date{
    font-size: 30px;
    font-weight: 600;

}
.box-opened{
    opacity: 0.6;
}
.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(12,11,74,0.8);
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.modal-window{
    background-color: var(--pink);
    min-width: 320px;
    min-height: 320px;
    border-radius: 12px;
    padding: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.modal-content{
    margin-bottom: 12px;
}
.modal-content * {
    max-width: 100%;
}
.modal-btn{
    border: none;
    padding: 8px 12px;
    font-size: 20px;
    background-color: var(--blue);
    color: var(--white);
}
.modal-hidden{
    visibility: hidden;
}