/*****************************
        COLOR PALETTE 
******************************/
:root{
    --blue: #3535ec;
    --dark-blue: #120945;
    --gray: #d4d7f5;
    --green: #306753;
    --pink: #de7eb6;
    --yellow: #f2ad41;
    --white: #ffffff;
}
/*****************************
        CSS RESET
******************************/  
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
/*****************************
        UTILITIES
******************************/
body{
    font-family: 'Livvic', Arial, Helvetica, sans-serif;
    background-color: var(--dark-blue);
    color: var(--white);
}
/*****************************
        HEADER
******************************/
header{
    background-color: var(--blue);
    height: 220px;
    border-radius: 0 0 20px 20px;

    position: sticky;
    top: 0;
    left: 0;

    background-image: url('../images/header-bg.png');
    background-size: cover;
    background-position: center 70px;
    background-repeat: no-repeat;
}
h1{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 32px 16px;
}
/*****************************
        CALENDAR
******************************/
.calendar{
    padding: 5px;
}
.box{
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 12px;
    background-color: var(--green);
}